@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "IBM Plex Sans", sans-serif;
}

body {
	background-position: 50px -250px;
}

.container {
	--max-width: 1110px;
	--padding: 1.5rem;
	width: min(var(--max-width), 100% - var(--padding) * 2);
	margin-inline: auto;
}

section .img {
	width: 208px;
	top: -100px;
	left: 0;
	right: 0;
	max-width: 312px;
}
.section2 {
	height: 1012px;
}
@media (min-width: 767px) {
	body {
		background-position: 60% -52%;
	}
	.section2 {
		height: 834px;
	}
	section .img {
		width: 270px;
		top: -100px;
		left: -46%;
		right: 0;
		max-width: 312px;
	}
	.section2:first-child {
		--max-width: 1110px;
		--padding: 1.5rem;
		width: min(var(--max-width), 100% - var(--padding) * 2);
		margin-inline: auto;
	}
	.premium_content {
		left: 35%;
		bottom: 5%;
		width: 399px;
	}
}
@media (min-width: 1023px) {
	body {
		background-position: -230px -230px;
	}
}
@media (min-width: 1365px) {
	body {
		background-size: cover;
		background-position: -480px -530px;
	}
}
@media (min-width: 1439px) {
	body {
		background-size: cover;
		background-position: 60% -200px;
	}
	.premium_content {
		left: 55%;
		bottom: 10%;
		width: 399px;
	}
}
