@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "IBM Plex Sans", sans-serif;
}

body {
	background-position: 50px -250px;
}
.container {
	--max-width: 1110px;
	--padding: 1.5rem;
	width: min(var(--max-width), 100% - var(--padding) * 2);
	margin-inline: auto;
}

@media (min-width: 1023px) {
	body {
		background-position: -230px -230px;
	}
}
@media (min-width: 1365px) {
	body {
		background-size: cover;
		background-position: -480px -530px;
	}
}
@media (min-width: 1439px) {
	body {
		background-size: cover;
		background-position: 60% -200px;
	}
}
